.main-page {
  display: flex;
  padding: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.main-page>div {
  padding: 35px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.main-page>div>* {
}

.ui.header .content {
  min-width: 100%;
}

.ui.input {
  min-width: 100%;
}
